[submodule "code/cmake/CMutils"]
	path = code/cmake/CMutils
	url = https://github.com/pinam45/CMutils
[submodule "code/extlibs/dynamic_bitset"]
	path = code/extlibs/dynamic_bitset
	url = https://github.com/pinam45/dynamic_bitset
[submodule "code/extlibs/spdlog"]
	path = code/extlibs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "code/extlibs/json"]
	path = code/extlibs/json
	url = https://github.com/nlohmann/json
[submodule "code/extlibs/inja"]
	path = code/extlibs/inja
	url = https://github.com/pantor/inja
[submodule "code/extlibs/cxxopts"]
	path = code/extlibs/cxxopts
	url = https://github.com/jarro2783/cxxopts
